<tr>
	<td><a href="/table-{{table.seatsCount}}/{{table.id}}">{{table.name}}</a></td>
	<td class="centered-text">
		<a href="/table-{{table.seatsCount}}/{{table.id}}">${{table.smallBlind}}/${{table.bigBlind}}</a>
	</td>
	<td class="centered-text">
		<a href="/table-{{table.seatsCount}}/{{table.id}}">NLH</a>
	</td>
	<td class="centered-text">
		<a href="/table-{{table.seatsCount}}/{{table.id}}">{{table.seatsCount}}-handend</a>
	</td>
	<td class="centered-text">
		<a href="/table-{{table.seatsCount}}/{{table.id}}">{{table.playersSeatedCount}}/{{table.seatsCount}}</a>
	</td>
</tr>
